.inputs {
    display: flex;
    gap: 15px;
}

.inputs input {
    background: #D9D9D9;
    color: black;
    width: 80%;
    height: 30px;
    font-size: 18px;
    padding-left: 7px;
    outline: none;
    font-family: 'DOS';
}

.inputs button {
    width: 100px;
    font-weight: 700;
    font-family: 'DOS';
    font-size: 13px;
}

@media(max-width: 500px) {
    .inputs {
        flex-direction: column;
        align-items: center;
    }

    .inputs input {
        width: 90%;;
    }

    .inputs button {
        padding: 10px 40px;
        width: 200px;
        font-size: 18px;
    }
}