.forecast-day-card {
    background: #888888;
    display: grid;
    padding: 20px 0px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.3);
}

.forecast-day-card p {
    color: #000000;
}

.card-time {
    font-size: 18px;
}

.card-temp {
    color: aliceblue;
    font-weight: 600;
}